* {
    font-family: Roboto, sans-serif;
}

nav {
    background-color: #2a2a2a;
    height: 50px;
}
.menu-header {
    position: fixed;
    background-color: #2a2a2a;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu__link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 200;
}

.menu .menu__item {
    border-right: 2px dotted black;
    padding-right: 37px;
    padding-left: 25px;
}

.menu .menu__item:last-child {
    border-right: none;
}

.main-info__subheader {
    height: 84px;
    background: rgb(0, 0, 0, .6);
    mix-blend-mode: normal;
}

.main-info__subheader__logo {
    padding-top: 16px;
}

.main-info__subheader__oficial {
    max-width: 100%;
    font-weight: 200;
    font-size: 13px;
    opacity: .5;
    color: #FFFFFF;
    line-height: 20px;
}

.main-info__subheader__call {
    margin-top: 22px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    opacity: .5;
    color: #FFFFFF;
}

.main-info__subheader__phone {
    text-decoration: none;
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400px;
    text-transform: uppercase;
    text-align: right;
    line-height: 24px;
}

.main-info__subheader__button {
    margin-top: 19px;
    font-weight: normal;
    font-size: 14px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.main-info {
    background: url('/src/img/uber_bg.png') no-repeat;
}

.main-info__promo__header {
    margin-top: 45px;
    font-weight: 900;
    font-size: 60px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-info__promo__subheader {
    font-weight: bold;
    font-size: 36px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-info__promo__description {
    font-weight: 500px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.main-info__promo__button button {
    display: block;
    margin: 0 auto;
    margin-top: 116px;
    margin-bottom: 185px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 18px;
    line-height: 63px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 24px;
    padding-right: 24px;
    color: #FFFFFF;
    border: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.proses {
    margin-top: 19px;
}

.proses__title {
    width: 115px;
    margin:0px auto;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}

.proses__title p {
    padding: 10px 7px 10px 7px;
    text-align: center;
    padding-bottom: 7px;
}

.proses__block {
    margin-top: 28px;
}

.proses__block img {
    display: block;
    margin: 0px auto;
}

.proses__header {
    margin-top: 40px;
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.proses__block__header {
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}






